.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.membershipadv{
    background-color: #ccf0f0;
    border-bottom: 5px #dcf0f1;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.type {
    letter-spacing: 2px;
}
.contact-us {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 70px 0px;
    background: #d0ead3;
    
}
.section-title h2 {
    color: #282828;
    font-size: 30px;
    font-weight: normal;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    border-bottom: 5px solid white;
    padding-bottom: 10px;
    display: inline-block;
}
.section-title p {
    color: #282828;
    margin-bottom: 30px;
}
.contact-us input,
.contact-us textarea {
    background: #fafafa;
}

.contact-us .map {
    overflow: hidden;
    border-radius: 4px;
}

.submitbutton {
    padding-top: 20px;
}

.formspacing {
    padding:20px;

}

.formspacing1{
    padding-top: 20px;
}

.formspacing2 {
    padding-top: 20px;
}

.bicycles{
    padding: 30px;
}

.represent {
    padding-top: 20px;
}